

<h3> Lye Calculator</h3>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            Step 1 - Type / Units
                        </a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <h4>Choose your soap type and measurement units.</h4>
                        <hr />
                        <div class="form-group">
                            <select class="form-control">
                                <option selected="selected" value="-1">Type</option>
                                <option value="solid">Solid</option>
                                <option value="liquid">Liquid</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control">
                                <option selected="selected" value="-1">Unit</option>
                                <option value="ounce">Ounces</option>
                                <option value="gram">Grams</option>
                                <option value="percent">Percentage</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control">
                                <option selected="selected" value="-1">Superfatting Level</option>
                                <option value="0">None</option>
                                @for (var x = 2; x <= 10; x++)
                                {
                                    <option value="@x"> @x%</option>
                                }
                            </select>
                        </div>
                        <button class="btn btn-xs btn-success"> Add Ingredients </button>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                            Step 2 - Ingredients
                        </a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        @*<div class="col-xs-12">

                            </div>*@
                        <h4>What are your ingredient amounts by weight? </h4>
                        <hr />
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Select Ingredient:</label>
                                    <select class="form-control" id="ingredient-select">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-md btn-default"> Add </button>
                                </div>
                            </div>


                            <div class="col-sm-8">
                                <label>Your Ingredients:</label>
                                <table class="table" id="amount-table">
                                    <thead>
                                        <tr class="table-heading">
                                            <th>Ingredient</th>
                                            <th>Amount (grams)</th>
                                            <th class="text-center">X</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><span class="ingredient-item">Almond Butter</span></td>
                                            <td><input value="24" class="form-control" /></td>
                                            <td class="text-center"><button class="btn btn-xs btn-default delete-btn">X</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button class="btn btn-xs btn-success"> Get Results </button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                            Step 3 - Results
                        </a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <h4>A <b>Solid</b> soap, measured in <b>Grams</b> with a superfat of <b>0%</b></h4>
                        <hr />




                        <div class="row">
                            <div class="col-sm-6">
                                <table class="table" id="result-table">
                                    <tr class="table-heading">
                                        <th>Lye & Liquid</th>
                                        <th>Amount</th>
                                        <th></th>
                                    </tr>

                                    <tr>
                                        <td>Lye (Sodium Hydroxide)</td>
                                        <td>0.36 grams</td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td>Grams of liquid</td>
                                        <td>0.66 grams</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><b>Total</b></td>
                                        <td>1.02 grams</td>
                                        <td></td>
                                    </tr>

                                    <tr class="table-heading">
                                        <th>Oils & Fats</th>
                                        <th>Amount</th>
                                        <th>%</th>
                                    </tr>

                                    <tr>
                                        <td>Grams of liquid</td>
                                        <td>0.66 grams</td>
                                        <td>100%</td>
                                    </tr>
                                    <tr>
                                        <td><b>Total</b></td>
                                        <td>1.02 grams</td>
                                        <td>100%</td>
                                    </tr>
                                    <tr>
                                    <tr class="table-heading">
                                        <th>Totals</th>
                                        <th>Amount</th>
                                        <th></th>
                                    </tr>

                                    <tr>
                                        <td>Lye & Liquid</td>
                                        <td>0.66 grams</td>
                                        <td></td>

                                    </tr>
                                    <tr>
                                        <td>Oils & Fats</td>
                                        <td>1.02 grams</td>
                                        <td></td>
                                    </tr>
                                    <tr class="table-heading">
                                        <th>Total Batch Yield</th>
                                        <th>3.02 grams</th>
                                        <th></th>
                                    </tr>
                                </table>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group recipe-info">
                                    <label>Recipe - Title</label>
                                    <input class="form-control" type="text" value="Summer Soap Recipe" />
                                    <br />
                                    <label>Recipe - Comments / Notes</label>
                                    <textarea class="form-control" rows="5"></textarea>
                                </div>
                                <button class="btn btn-xs btn-success">Print Results</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
@section Scripts {
    @Scripts.Render("~/Scripts/App/app.js")
}