body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}




footer {
    text-align: center;
}



.error-message{
    color: red;
    margin: 10px 0px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

table {
    border-collapse: initial;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.table thead > tr > th {
    border-bottom: none;
}

.delete-btn {
    margin-top: 8px;
}

#amount-table > thead > tr > th:first-child {
    width: 50%;
}

#result-table {
    width: 100%;
}

.table-heading {
    background-color: steelblue;
    color: white;
}

.ingredient-item {
    font-size: 14px;
    padding: 6px 0px;
    height: 34px;
    display: block;
    line-height: 1.428571429;
}

/*.result-tb-hd-total{
    background-color: lightgray;
    color: steelblue;
}*/

.recipe-info input, textarea{
    max-width: none;
}

@media (min-width: 768px) {
    #amount-table > thead > tr > th:first-child {
        width: 30%;
    }

}


@media print{
    #step1-container, #step2-container, h2, button{
        display: none;
    }
}


